#### PySpark_basic_introduction

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\user\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\user\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('result.csv')

        Name  CGPA
0    Koustav  9.03
1    Bishyan  9.16
2  Dwaipayan  8.73
3     Mainak  8.98

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('start_pyspark').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv('result.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [9]:
df_pyspark.show()

+---------+----+
|      _c0| _c1|
+---------+----+
|     Name|CGPA|
|  Koustav|9.03|
|  Bishyan|9.16|
|Dwaipayan|8.73|
|   Mainak|8.98|
+---------+----+

In [11]:
df_pyspark=spark.read.option('header','true').csv('result.csv')

In [13]:
df_pyspark.show()

+---------+----+
|     Name|CGPA|
+---------+----+
|  Koustav|9.03|
|  Bishyan|9.16|
|Dwaipayan|8.73|
|   Mainak|8.98|
+---------+----+

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head()

Row(Name='Koustav', CGPA='9.03')

In [16]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- CGPA: string (nullable = true)