In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('PracDF3').getOrCreate()

In [3]:
df_pyspark=spark.read.option('header','true').csv('5_DF.csv',inferSchema=True)

In [4]:
df_pyspark.show()

+---------+-----------+------+
|     Name|       Dept|Salary|
+---------+-----------+------+
|  Koustav|       Data| 50000|
|  Bishyan|         IT| 55000|
|Dwaipayan|         ML| 45000|
|   Mainak|  Front End| 51000|
|   Sattik|   Back End| 40000|
|  Koustav|       Java| 48000|
|   Mainak| Full Stack| 60000|
|   Anisha| ServiceNow| 40000|
|   Anisha| Full Stack| 56000|
|  Bhargav|       Data| 52000|
|   Mukund|       Java| 50000|
|    Ahana|Informatica| 35000|
|   Chirag|         ML| 70000|
+---------+-----------+------+

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Dept: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [6]:
## Groupby
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|   Sattik|      40000|
|    Ahana|      35000|
|   Anisha|      96000|
|  Bishyan|      55000|
|  Bhargav|      52000|
|Dwaipayan|      45000|
|   Chirag|      70000|
|   Mukund|      50000|
|   Mainak|     111000|
|  Koustav|      98000|
+---------+-----------+

In [7]:
df_pyspark.groupBy('Dept').sum().show()

+-----------+-----------+
|       Dept|sum(Salary)|
+-----------+-----------+
|       Data|     102000|
|  Front End|      51000|
|Informatica|      35000|
| Full Stack|     116000|
|   Back End|      40000|
|         IT|      55000|
|         ML|     115000|
| ServiceNow|      40000|
|       Java|      98000|
+-----------+-----------+

In [8]:
df_pyspark.groupBy('Dept').mean().show()

+-----------+-----------+
|       Dept|avg(Salary)|
+-----------+-----------+
|       Data|    51000.0|
|  Front End|    51000.0|
|Informatica|    35000.0|
| Full Stack|    58000.0|
|   Back End|    40000.0|
|         IT|    55000.0|
|         ML|    57500.0|
| ServiceNow|    40000.0|
|       Java|    49000.0|
+-----------+-----------+

In [9]:
df_pyspark.groupBy('Dept').count().show()

+-----------+-----+
|       Dept|count|
+-----------+-----+
|       Data|    2|
|  Front End|    1|
|Informatica|    1|
| Full Stack|    2|
|   Back End|    1|
|         IT|    1|
|         ML|    2|
| ServiceNow|    1|
|       Java|    2|
+-----------+-----+

In [10]:
df_pyspark.agg({'Salary':'Sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     652000|
+-----------+

In [11]:
df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|   Sattik|      40000|
|    Ahana|      35000|
|   Anisha|      56000|
|  Bishyan|      55000|
|  Bhargav|      52000|
|Dwaipayan|      45000|
|   Chirag|      70000|
|   Mukund|      50000|
|   Mainak|      60000|
|  Koustav|      50000|
+---------+-----------+

In [12]:
df_pyspark.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|   Sattik|      40000|
|    Ahana|      35000|
|   Anisha|      40000|
|  Bishyan|      55000|
|  Bhargav|      52000|
|Dwaipayan|      45000|
|   Chirag|      70000|
|   Mukund|      50000|
|   Mainak|      51000|
|  Koustav|      48000|
+---------+-----------+

In [13]:
df_pyspark.groupBy('Name').avg().show()

+---------+-----------+
|     Name|avg(Salary)|
+---------+-----------+
|   Sattik|    40000.0|
|    Ahana|    35000.0|
|   Anisha|    48000.0|
|  Bishyan|    55000.0|
|  Bhargav|    52000.0|
|Dwaipayan|    45000.0|
|   Chirag|    70000.0|
|   Mukund|    50000.0|
|   Mainak|    55500.0|
|  Koustav|    49000.0|
+---------+-----------+